::-webkit-scrollbar {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  /* outline: 1px solid red !important; */
}
.full-page {
  width: 100%;
  box-shadow: none;
  border-bottom: 200px;
}
.nav-full {
  background: rgb(51, 53, 69);
}
.head-flex {
  max-width: 1240px;
  display: flex;
  align-items: center;
  margin: 0px auto;
  width: 92%;
}
::placeholder {
  color: grey;
  opacity: 1;
}
.nav-bar {
  height: 64px;
  background-color: #333545;
  align-items: center;
}
.logo {
  width: 75%;
  display: flex;
  justify-content: flex-start;
  color: white;
}
.logo .logo-ins {
  display: flex;
  align-items: center;
}
.logo .logo-ins svg {
  margin-right: 20px;
}
.logo .logo-ins input {
  max-width: 546px;
  height: 36px;
  /* width: 20rem; */
  border-style: none;
  border-radius: 3px;
}
.logo input {
  color: #9c9b99;
  height: 36px;
  width: 546px;
  font-family: Arial, FontAwesome;
  padding-left: 10px;
}
.nav-center {
  width: 10%;
}
.nav-right {
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-right .head-input {
  color: white;
  background-color: #f84464;
  padding: 5px 15px;
  border-style: none;
  border-radius: 5px;
}
.nav-right p {
  cursor: pointer;
}
.nav-right p:hover {
  color: white;
}

/* head after */
.head-parent {
  max-width: 100%;
  background-color: #222539;
}
.head-next {
  padding: 0;
  background-color: #222539;
  height: 40px;
}
.left-con {
  width: 75%;
  display: flex;
  justify-content: flex-start;
}

.left-con a:first-child {
  padding-left: 0px;
}

.left-con .left-link {
  padding: 0 10px;
  font-size: 14px;
  color: #cccccc;
  text-decoration: none;
}
.left-con .left-link:hover {
  color: white;
}
.right-con {
  display: flex;
  justify-content: flex-end;
  margin: 0;
}
.right-con a:last-child {
  padding-right: 0;
}
.right-con .right-link {
  padding: 0 12px;
  font-size: 12px;
  text-decoration: none;
  color: white;
}
/* head after */

/* slides */
.slide {
  max-height: 322px;
  height: 100%;
  width: 100%;
  background-color: #ebebeb;
  padding: 0 0 32px;
}
.slide-img img {
  padding-top: 10px;
  width: 100%;
  height: 100%;
}
/* slides */

/* movie list one */
.movie-list-one {
  max-height: 535px;
  height: 100%;
  width: auto;
  margin-top: 0;
  padding-bottom: 30px;
  background-color: #f5f5f5;
}
.movie-list-one .recommended {
  justify-content: space-between;
}
.movie-list-one .recommended p {
  font-size: 0.8rem;
  color: #dc3558;
}
/* list of movies */
.list-of-movies {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1240px;
  width: 92%;
  margin: 0 auto;
}
.movie-one {
  margin: 8px 0px 8px 0px;
  min-width: 20.3125%;
}
.res-movie-one {
  margin: 8px 0px 8px 0px;
}

.list-of-movies :first-child .m-name {
  font-size: 1.05rem;
}
/* .list-of-movies .last {
  margin: 8px 0 8px 0;
} */

.list-of-movies img {
  max-width: 222px;
  max-height: 378px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.movie-coll {
  width: 100%;
  display: flex;
  overflow: scroll;
  scrollbar-width: none;
  margin: 16px 0;
  border-radius: 0px;
}
.movie-coll div {
  margin-right: 8px;
}
.movie-coll :last-child {
  margin-right: 0;
}
.movie-details {
  width: 100%;
}
.m-name {
  width: inherit;
  word-break: break-word;
  color: rgb(34, 34, 34);
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.33;
  margin: 0px 0px 4px;
}
.m-catg {
  color: #666666;
  word-break: break-word;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: normal;
}
/* movie list one */
/* moving icon */
.moving-icon-1 {
  display: flex;
  position: absolute;
  right: 135px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: rgb(153, 153, 153);
  border-radius: 50px;
  align-items: center;
  justify-content: center;
}
.moving-icon-1 .icon-border {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.moving-icon-1 .icon-border svg {
  width: 18px;
  height: 18px;
}
.moving-icon-2 {
  display: flex;
  position: absolute;
  left: 135px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: rgb(153, 153, 153);
  border-radius: 50px;
  align-items: center;
  justify-content: center;
}
.moving-icon-2 .icon-border {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.moving-icon-2 .icon-border svg {
  width: 18px;
  height: 18px;
}
/* stream */
.stream {
  display: flex;
  max-height: 199.5px;
  height: 100%;
  background-color: #f5f5f5;
}
.stream .str-img img {
  max-height: 103px;
  width: 100%;
  height: 100%;
}
/* stream */

/* Entertainment */
.entertainment {
  background-color: #f5f5f5;
  padding: 32px 0 64px;
}
.entertainment .cont {
  color: rgb(51, 51, 51);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
}
.entertainment .entr-con .img-con {
  width: 100%;
}
.img-row-one {
  display: flex;
  width: 100%;
  margin-top: 5px;
  min-width: inherit;
  justify-content: space-between;
}
.sub-con {
  display: none;
}
.entertainment .entr-con .img-one img {
  border-radius: 10px;
  max-width: 222px;
  max-height: 222px;
  width: 100%;
  height: 100%;
}

/* Entertainment */
/* premiere */
.premiere {
  background-color: #2b3148;
  padding-bottom: 20px;
}
.premiere .pre-img {
  padding: 16px 0;
}
.premiere .pre-img img {
  max-width: 1240px;
  max-height: 103px;
  width: 100%;
  height: 100%;
}
.premiere .pre-show {
  max-width: 1240px;
  margin: 0px auto;
  width: 92%;
  max-height: 510px;
  width: 100%;
  height: 100%;
  color: white;
  padding: 16px 0px;
}
.premiere .pre-show p {
  font-size: 14px;
}
.pre-show .shows {
  width: 100%;
  justify-content: space-between;
}
/* .show-one {
  margin-right: 10px;
} */
.pre-show .shows .show-one img {
  max-height: 334px;
  max-width: 222px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin: 10px 10px 0 0;
}
.pre-show .shows .show-one img:last-child {
  margin-right: 0;
}
.premiere .pre-show .shows .show-details {
  width: 100%;
  height: 100%;
}
.premiere .pre-show .shows .show-details .s-name {
  width: 100%;
  word-break: break-word;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.33;
  margin: 0px 0px 4px;
}
.premiere .pre-show .shows .show-details .s-lang {
  margin-top: 3px;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
}
/* premiere */

/* events */
.events {
  max-height: 600px;
  height: 100%;
  padding: 48px 0 32px;
  background-color: #f5f5f5;
  width: auto;
}
.events .eve-cont h2 {
  font-size: 1.5rem;
}
.events .eve-imgs {
  justify-content: space-between;
}
/* .events .eve-img {
  max-width: 222px;
  max-height: 378px;
  width: 100%;
  height: 100%;
  margin-right: 10px;
} */
.events .eve-imgs .eve-img-one {
  max-width: 222px;
  max-height: 378px;
  width: 100%;
  height: 100%;
}
.events .eve-imgs .eve-img-one img {
  height: inherit;
  width: inherit;
  padding-top: 5px;
  border-radius: 10px;
}
/* events */
/* Trending searches */
.t-search {
  max-height: 250px;
  height: 100%;
  background-color: #f5f5f5;
  /* margin-top: 15px; */
}
.t-search .t-search-divs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-content: left;
  padding: 0px;
}
.t-search .t-search-divs .movie-1 {
  margin-right: 16px;
  margin-top: 16px;
  padding: 14px 45px 12px 16px;
  background-color: white;
  border: 1px solid rgb(238, 238, 238);
  border-radius: 4px;
}
.t-search .mv {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #f84468;
  margin: 0px 0px 2px;
  white-space: nowrap;
  font-weight: 500;
  line-height: 1.25;
}
.t-search .mv-type {
  line-height: 1.43;
  margin: 0 0 2px;
  color: #666666;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  font-weight: normal;
  line-height: 1.43;
}
/* Trending searches */
.gotohome {
  height: 44px;
}
.gotohome a {
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
  color: rgb(170, 171, 172);
}
.con-full {
  background-color: rgb(49, 48, 53);
}
.contact {
  height: 83px;
  display: flex;
  color: rgb(255, 255, 255);
  font-size: 16px;
}
.con-text {
  flex: 0 0 auto;
  margin: 0px 16px 0px 4px;
  font-weight: 600;
}
.con-con {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.con-con-button {
  flex: 0 0 auto;
  background-color: rgb(236, 94, 113);
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.customer-serv {
  height: 122px;
  background-color: #404043;
}
.customer-serv .cust-img {
  margin: 0 auto;
  padding: 15px;
  justify-content: space-around;
}
.customer-serv .cust-img .cust-img-1 {
  cursor: pointer;
}
.customer-serv .cust-img .cust-img-1 .cust-img-img {
  width: 100%;
  text-align: center;
}
.customer-serv .cust-img .cust-img-1 .cust-img-img svg {
  height: 50px;
  width: 50px;
  fill: rgb(198, 198, 199);
}
.customer-serv .cust-img .cust-img-1 .cust-img-con {
  margin: 10px 0 0;
  color: #bcc0c4bd;
  font-size: 11px;
}
/* footer */
.footer {
  height: 283px;
  background-color: #333338;
  width: 100%;
}

.foot-img {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 125px;
  max-width: 1488px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.foot-img .line {
  flex: 1 1 0%;
  height: 1px;
  background: rgb(93, 93, 95);
  margin: 0 20px;
}
.foot-follow-req {
  height: 40.2px;
  display: flex;
  justify-content: center;
  max-width: 1488px;
  width: 100%;
  margin: 0 auto;
}
.foot-follow-req a {
  display: inline-block;
  margin-right: 10px;
  width: 37px;
  height: 37px;
}
.foot-follow-req {
  fill: rgb(93, 93, 95);
}
.footer-foot {
  padding: 30px;
  color: #666666;
  max-width: 1488px;
  width: 100%;
  margin: 0 auto;
  height: 98.4px;
  align-items: center;
  text-align: center;
  font-size: 11px;
}
/* footer */

/* responsive mobile view */
.res-nav {
  height: 59px;
  padding: 10px 18px 8px;
  display: none;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #222539;
}
.res-nav-one {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right-res-nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  width: inherit;
}
.right-res-nav .res-btn {
  width: 64px;
  height: 32px;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  background-color: rgb(248, 68, 100);
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  margin-right: 10px;
  border-style: none;
}

/* responsive div */
.res-div {
  width: 100%;
  overflow: hidden;
  overflow-x: visible;
  padding-right: 10px;
}
.res-top {
  display: none;
  height: 70px;
}
.res-imgs {
  display: flex;
  align-items: center;
  height: 80px;
}
.res-div::-webkit-scrollbar {
  display: none;
}

.res-top img {
  display: none;
  max-height: 68px;
  max-width: 68px;
  width: 100%;
  height: 100%;
}

.res-mov-img {
  max-width: 118px;
  max-height: 202px;
  width: 100%;
  height: 100%;
}
.res-mov-img img {
  border-radius: 5px;
}
/* responsive div */
.res-items {
  display: none;
  margin-bottom: 2px;
}
.res-gif img {
  width: 375px;
  height: 125px;
  /* background-color: #f5f5f5; */
  margin-top: 0px;
}
.res-mem {
  display: none;
  margin-bottom: 0px;
}
.res-mem img {
  /* background-color: #f5f5f5; */
  width: 375px;
  height: 235px;
  padding: 32px 16px;
}
.img-two {
  display: none;
  padding-bottom: 20px;
}
.ent-res-img img {
  width: 124.48px;
  height: 124.48px;
  margin: 5px 5px;
  border-radius: 5px;
}

/* event images */
.evt-res-imgs {
  width: 118px;
  height: 202px;
  margin-right: 15px;
  margin-top: 10px;
}
.evt-res-imgs img {
  height: inherit;
  width: inherit;
  border-radius: 5px;
}
.res-foot-full {
  display: none;
  position: sticky;
  bottom: 0;
}
.res-foot {
  display: flex;
  height: 48px;
  border-top: 1px solid rgb(238, 238, 238);

  justify-content: space-around;
  align-items: center;
  background-color: white;
}
.f-img {
  width: 24px;
  height: 24px;
  margin: 0px auto;
}
.f-name {
  font-size: 12px;
  color: #dc3558;
}

.res-coll {
  height: 264px;
  padding: 0 20px;
  display: flex;
  margin: 16px 0;
  justify-content: space-between;
  border-radius: 0px;
}
.res-coll div {
  margin-right: 10px;
}
/* responsive mobile view */

/* media query */

@media only screen and (max-width: 380px) {
  .movie-one {
    min-width: 0;
  }
  .moving-icon-1 {
    display: none;
  }
  .moving-icon-2 {
    display: none;
  }
  .res-foot-full {
    display: block;
  }
  .nav-full {
    position: sticky;
    top: 0;
  }
  .empty {
    display: none;
  }
  .sub-con {
    display: block;
  }
  .res-items {
    display: inline;
  }
  .res-gif img {
    display: inline;
  }
  .res-top {
    display: inline;
  }
  .res-top img {
    display: block;
  }
  .slide {
    height: 188px;
    width: 375px;
    padding: 0 0 16px;
  }

  .slide img {
    height: 188px;
    width: 375px;
    padding: 0;
  }

  .head-parent {
    display: none;
  }
  .nav-bar {
    display: none;
  }
  .res-nav {
    display: block;
  }
  .t-search {
    display: none;
  }
  .events {
    margin: 0px 20px;
    background-color: white;
    height: 300px;
  }
  .gotohome {
    display: none;
  }
  .con-full {
    display: none;
  }
  .customer-serv {
    display: none;
  }
  .footer {
    display: none;
  }
  .recommended {
    padding: 0px 16px;
    padding-top: 20px;
  }
  .head-2 {
    font-size: 18px;
  }
  .head-para {
    font-size: 14px;
  }
  .m-name {
    font-size: 16px;
    font-weight: normal;
  }
  .m-catg {
    display: none;
  }
  .movie-one {
    height: 202px;
    width: 119px;
  }

  .stream {
    display: none;
  }
  .entertainment .cont {
    font-size: 18px;
    font-weight: 700;
    /* display: none; */
  }
  .premiere {
    display: none;
  }
  .sub-con {
    font-size: 12px;
    color: #666666;
    padding: 2px 0;
  }
}

@media only screen and (max-width: 1024px) {
  * {
    font-size: 12px;
  }
  .moving-icon {
    display: none;
  }
  /* input{
    height: 30px;
  width: 300px;
  } */
}

@media only screen and (max-width: 620px) {
  .nav-right .head-input {
    display: none;
  }
  .nav-right svg {
    display: none;
  }
  .s-lang {
    font-size: 12px;
  }
  .s-name {
    font-size: 10px;
  }
}
@media only screen and (max-width: 700px) {
  .head-parent .right-con {
    display: none;
  }
  .head-flex {
    width: 100%;
  }
  .nav-right .head-input {
    width: 300px;
  }
}
@media only screen and (max-width: 563px) {
  .logo-ins input {
    display: none;
  }
  .con-con-text {
    font-size: 10px;
  }
}
@media only screen and (max-width: 435px) {
  .head-next .left-con a {
    font-size: 0.5rem;
  }
  .con-con-button {
    display: none;
  }
}
